/* google font  */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --black: #111111;
    --orange-1: #FEA301;
    --orange-2: #F0AA00;
    --skyBlue: #01ACFD;
    --skyBlue1: #05D4DF;
    --blue-1: #5D58EF;
    --blue-2: #64C8EF;
    --blue-3: #3CD8E8;
    --blue-4: #5D58F0;
    --white: #FFFFFF;
    --dark-1: #000000;
    --dark-2: #202020;
    --dark-3: #808080;
    --dark-4: #666666;
    --purple: #8700FF;
    --green: #95B226;

}
body {
    background-color: #FFFFFF;
    font-family: "Quicksand", serif;

}
/* common style  */
.section-title {
    font-size: 2.875rem;
    font-weight: 700;
}
.d-flex {
    display: flex;
}
.d-grid {
    display: grid;
}



/* navbar design start */
nav, .banner-content {
    max-width: 1160px;
    margin: 0 auto;
}
.navbar {
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.navbar .logo{
    align-items: center;
}
.logo-img {
    display: inline-block;
    height: 62px;
    width: 62px;
    cursor: pointer;
}
.logo .brand {
    font-size: 2rem;
    font-weight: 700;
    color: var(--black);
    margin-left: 10px;
}
.navbar .menu ul li {
    list-style: none;
    margin-right: 32px;
}
.navbar .menu ul li a {
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 500;
}
.navbar .menu .active {
    color: var(--orange-1);
    font-weight: 700;
}
 .navbar .menu .second-child{
    color: var(--skyBlue);   
}
.navbar .menu .third-child {
    color: var(--skyBlue1);
}
.navbar .menu .last-child{
    color: var(--blue-1);
}
.navbar .nav-btn {
    background-color: var(--orange-1);
    color: var(--white);
    padding: 12px 25px;
    font-size: 1.25rem;
    font-weight: 500;
    border-radius: 12px;
    border: none;
}
.navbar .menu-icon {
    display: none;
}
.navbar .menu-icon i {
    font-size: 1.75rem;
    color: var(--black);
}
/* navbar design end */
/* banner design start */
.banner {
    margin: 18px 0;
}
.banner-content{
    justify-content: space-between;
    align-items: center;
}
.banner-left-content{
    max-width: 640px;
}
.banner-left-content .banner-title{
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 61px;
    color: var(--black);
} 
.banner-left-content .banner-title #title-color1{
    color: var(--orange-1);
}
.banner-left-content .banner-title #title-color3{
    color: var(--skyBlue);
}
.banner-left-content .banner-desc{
    margin: 24px 0;
    font-size: 1.25rem;
    font-weight: 400;
}
.banner-left-content .banner-btn{
    background-color: var(--black);
    color: var(--white);
    font-size: 1.25rem;
    font-weight: 700;
    padding: 13px 25px;
    border-radius: 12px;
    border: none;
}
.banner-right-content{
    max-width: 469px;
}
.banner-right-content img{
    width: 100%;
}
/* banner design end */
/* standard curiculum section design start  */
.curriculum {
    background-image: url('../assets/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 20px;
}

.curriculum-content {
    max-width: 1160px;
    margin: 0 auto;
}
.curriculum-content .section-title {
    margin: 60px 0 80px;
    text-align: center;
}
.curriculum-box {
    
    justify-content: space-between;
}
.curriculum-box .card {
    width: 368px;
    text-align: center;
    /* border: 1px solid red; */
    border-radius: 19px;
}
.curriculum-box .card-1 {
    background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
    box-shadow: inset 0px 0px 29px 1px rgba(0, 0, 0, 0.05);
    border: 1px solid rgb(222, 245, 255);

}
.curriculum-box .card-1 a {
    color: #64C8FF;
}
.curriculum-box .card-2{
    background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
    box-shadow: inset 0px 0px 29px 1px rgba(0, 0, 0, 0.05);
    border: 1px solid rgb(255, 244, 220);
}
.curriculum-box .card-2 a {
    color: var(--orange-2);
} 
.curriculum-box .card-3 {
    background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
    box-shadow: inset 0px 0px 29px 1px rgba(0, 0, 0, 0.05);
    border: 1px solid rgb(242, 232, 255);
}
.curriculum-box .card-3 a {
    color: #8700FF;
}
.curriculum-box .card img{
    width: 137px;
    height: 137px;
    margin: 52px 0 32px;
}
.curriculum-box .card .card-title{
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--dark-2);
}
.curriculum-box .card .card-desc{
    margin: 33px 0;
    font-size: 1rem;
    font-weight: 500;
    font-family: "Raleway", serif;
    line-height: 28px;
}
.curriculum-box .card a{
    display: inline-block;
    margin-bottom: 58px;
    text-decoration: none;
    font-size: 1.125rem;
    font-weight: 700;
    cursor: pointer;
}
.curriculum-content .slider-btn {
    margin: 80px 0 60px;
    justify-content: center;
    align-items: center;
}
.curriculum-content .slider-btn .icon-box {
    background-color: var(--orange-1);
    height: 60px;
    width: 60px;
    border-radius: 50%;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    margin: 10px;
}
/* standard curiculum section design end */
/* our story section design start  */
.story{
    margin-bottom: 100px;
    background-image: url("../assets/bg.png"),linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   padding: 25px;
   
}
.story .section-title{
    margin: 60px 0 80px;
    text-align: center;

}
.story-content{
    max-width: 1160px;
    margin: 0 auto;
    justify-content: space-between;
}
.story-left-content{
    max-width: 540px;
    border-radius: 16px;
    background-color: var(--white);
    position: relative;
}
.story-left-content img{
    width: 100%;
    border-radius: 16px 16px 0 0;
}
.story-left-content .story-title{
    margin: 58px 0px 48px 38px;
    font-size: 1.5rem;
    font-weight: 700;
}
.story-left-content .story-desc{
    max-width: 433px;
    margin: 0 0 35px 38px;
    font-size: 1rem;
    font-family: "Raleway", serif;
    font-weight: 500;
    line-height: 29px;
    color: var(--dark-4);
}
.story-left-content .story-btn{
    background-color: var(--blue-3);
    color: var(--white);
    padding: 13px 25px;
    border-radius: 48px;
    border: none;
    font-size: 1.125rem;
    font-family: "Raleway", serif;
    font-weight: 500;
    position: absolute;
    top: 315px;
    left: 39px;
}
.story-right-content{
    max-width: 602px;
    grid-template-columns: repeat(2, 291px);
    grid-gap: 20px;
}
.story-right-content .right-card {
    position: relative;
    border-radius: 16px;
    background-color: var(--white);
}
.story-right-content .right-card img{
    width: 100%;
    border-radius: 16px 16px 0 0;
}
.story-right-content .story-title{
    font-size: 1rem;
    font-family: "Quicksand", serif;
    font-weight: 700;
    max-width: 214px;
    margin: 38px 0 28px 38px;
    color:var(--dark-1);
}
.story-right-content .right-card .story-btn{
    background-color: var(--green);
    color: var(--white);
    padding: 13px 25px;
    border-radius: 48px;
    border: none;
    font-size: 1rem;
    font-family: "Raleway", serif;
    font-weight: 500;
    position: absolute;
    top: 158px;
    left: 39px;
    cursor: pointer;
}
.story-right-content .right-card .btn-2 {
    background-color: var(--blue-4);
}

.story .story-bottom {
    margin: 80px 0 60px;
    justify-content: center;
    align-items: center;
}
.story-bottom .story-bottom-btn {
    background-color: var(--black);
    color: var(--white);
    font-size: 1.25rem;
    font-weight: 700;
    padding: 13px 25px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

.img-display {
    display: none;
}

/* our story section design end */
/* media query  */
@media screen and (max-width: 576px){
   /* navbar sectin  */
    .navbar .brand, .menu, .navbar-btn {
        display: none;
    }
    .navbar .menu-icon {
        display: block;
        margin-right: 15px;
        cursor: pointer;
    }
    .navbar {
        border-bottom: 1px solid var(--orange-1);
    }
    .logo {
        margin-left: 15px;
    }
    /* banner section  */
    .banner-content {
        flex-direction: column-reverse;
        gap: 20px;
        max-width: 90%;
    }
    .banner-left-content {
        text-align: center;
    }
    /* standard curriculum section  */
    .slider-btn {
        display: none;
    }
    .curriculum-box {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    /* Our story section  */
    .story-content{
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }
    .img-display {
        display: block;
    }
    .show-story {
        display: none;
    }
    .story-right-content {
        grid-template-columns: repeat(2, 200px);
        grid-gap: 10px;
    }
    .story-right-content .right-card .story-btn{
        
        font-size: 12px;
        top: 100px;
        left: 24px;
    }
    .story-right-content .story-title {
        margin-left: 12px;
    }

}